<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-we" version="1.0.0" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>we</name>
	<js-module name="we" src="www/we.js">
		<clobbers target="window.__we" />
	</js-module>
	<platform name="android">
		<hook type="before_build" src="scripts/androidBeforeBuild.js" />
		<framework src="src/android/we.gradle" custom="true" type="gradleReference" />
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="we">
				<param name="android-package" value="cn.inu1255.we.WePlugin" />
			</feature>
		</config-file>
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
			<application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true" />
		</edit-config>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<!--联通电信授权⻚-->
			<activity android:name="com.mobile.auth.gatewayauth.LoginAuthActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:exported="false" android:theme="@style/authsdk_activity_dialog" android:launchMode="singleTop" />
			<!--协议⻚⾯webview-->
			<activity android:name="com.mobile.auth.gatewayauth.activity.AuthWebVeiwActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:exported="false" android:launchMode="singleTop" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="behind" />
			<!--移动授权⻚-->
			<activity android:name="com.cmic.sso.sdk.activity.LoginAuthActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:exported="false" android:launchMode="singleTop" />
			<provider android:name="android.support.v4.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
				<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
			</provider>
		</config-file>
		<source-file src="src/android/libs/crashshield-2.0.3-release.aar" target-dir="libs" />
		<source-file src="src/android/libs/logger-2.0.3-release.aar" target-dir="libs" />
		<source-file src="src/android/libs/main-2.0.3-release.aar" target-dir="libs" />
		<source-file src="src/android/libs/phoneNumber-L-AuthSDK-2.12.1.aar" target-dir="libs" />
		<source-file src="src/icons/hd_close_login.png" target-dir="res/mipmap-xxhdpi"/>
		<source-file src="src/icons/hd_icon_phone.png" target-dir="res/mipmap-xxhdpi"/>
		<source-file src="src/icons/hd_icon_qq.png" target-dir="res/mipmap-xxhdpi"/>
		<source-file src="src/icons/hd_icon_wx.png" target-dir="res/mipmap-xxhdpi"/>
		<source-file src="src/android/xml/provider_paths.xml" target-dir="res/xml"/>
		<source-file src="src/android/xml/fragment_auth_login.xml" target-dir="res/layout"/>
		<source-file src="src/android/java/tools/ActivityTool.java" target-dir="src/cn/inu1255/we/tools" />
		<source-file src="src/android/java/tools/AnimUtils.java" target-dir="src/cn/inu1255/we/tools" />
		<source-file src="src/android/java/tools/ITool.java" target-dir="src/cn/inu1255/we/tools" />
		<source-file src="src/android/java/tools/ScreenSize.java" target-dir="src/cn/inu1255/we/tools" />
		<source-file src="src/android/java/CallbackFunction.java" target-dir="src/cn/inu1255/we" />
		<source-file src="src/android/java/JSCallback.java" target-dir="src/cn/inu1255/we" />
		<source-file src="src/android/java/PnsViewDelegate.java" target-dir="src/cn/inu1255/we" />
		<source-file src="src/android/java/We.java" target-dir="src/cn/inu1255/we" />
		<source-file src="src/android/java/WePlugin.java" target-dir="src/cn/inu1255/we" />
	</platform>
</plugin>